*.iml
.gradle/
.kotlin/
local.properties
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
Thumbs.db
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.jks
*.keystore
signing.properties
