* {
  box-sizing: border-box;
}

.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 390px;
  height: 1288px;
  min-height: 1064px;
  background-image: linear-gradient(
    135deg,
    #f8d8e1 0%,
    #d1a8e3 50%,
    #a9b1f1 100%
  );

  .ambientDecoration {
    position: absolute;
    top: 266px;
    left: -80px;
    flex-shrink: 0;
    border-radius: 9999px;
    background: #f8d8e14d;
    width: 320px;
    height: 320px;
    filter: blur(60px);
  }

  .overlayBlur {
    position: absolute;
    right: -80px;
    bottom: 490px;
    flex-shrink: 0;
    z-index: 1;
    border-radius: 9999px;
    background: #a9b1f14d;
    width: 320px;
    height: 320px;
    filter: blur(60px);
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    z-index: 2;
    padding: 48px 24px;
    max-width: 896px;
    row-gap: 40px;

    .greetingSection {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .heading2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        box-shadow: 0px 1px 1px 0px #0000000d;

        .text {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 340px;
          height: 48px;
          line-height: 48px;
          letter-spacing: -1.2px;
          color: #1e1b1e;
          font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 48px;
          font-weight: 800;
        }
      }

      .container {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        opacity: 0.8;

        .text2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 285px;
          height: 28px;
          line-height: 28px;
          letter-spacing: 0;
          color: #4c444d;
          font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }
    }

    .bentoLayoutForConten {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding-bottom: 8px;

      .pomodoroTimerCard {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 40px;
        box-shadow: 0px 20px 40px -10px #1e1b1e14;
        background: #ffffffe5;
        padding: 32px;
        overflow: hidden;
        row-gap: 32px;
        backdrop-filter: blur(10px);

        .text3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 130px;
          height: 16px;
          line-height: 16px;
          letter-spacing: 2.4px;
          color: #4c444d;
          font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }

        .overlayBlur2 {
          position: absolute;
          top: -80px;
          right: -80px;
          flex-shrink: 0;
          border-radius: 9999px;
          background: #d1a8e333;
          width: 160px;
          height: 160px;
          filter: blur(32px);
        }

        .circularCountdownCon {
          display: flex;
          position: relative;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          z-index: 1;
          width: 256px;
          height: 256px;

          .container2 {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            align-items: center;
            margin-right: 28px;
            margin-left: 28px;

            .text4 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 199px;
              height: 72px;
              line-height: 72px;
              letter-spacing: -3.6px;
              color: #1e1b1e;
              font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 72px;
              font-weight: 800;
            }

            .margin {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              margin-right: 49px;
              margin-left: 49px;
              padding-top: 8px;

              .text5 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 100px;
                height: 28px;
                line-height: 28px;
                letter-spacing: 0;
                color: #745185;
                font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 700;
              }
            }
          }

          .sVg {
            position: absolute;
            top: 0;
            left: 0;
            flex-shrink: 0;
            width: 256px;
            height: 256px;
            overflow: hidden;
            rotate: -90deg;
          }
        }

        .controls {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;
          z-index: 2;

          .button {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            background: #e8e0e5;
            width: 56px;
            height: 56px;

            .container3 {
              flex-shrink: 0;
              width: 20px;
              height: 20px;
            }
          }

          .button2 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            border-radius: 9999px;
            background-image: linear-gradient(
              148.21deg,
              #745185 0%,
              #d1a8e3 100%
            );

            .buttonShadow {
              display: flex;
              flex-grow: 1;
              align-items: center;
              border-radius: 9999px;
              box-shadow: 0px 20px 40px -10px #1e1b1e14;
              background: #ffffff01;
              padding: 16px 37px;

              .text6 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 68px;
                height: 56px;
                line-height: 28px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 700;
              }
            }
          }

          .button3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            background: #edc3ff66;
            width: 56px;
            height: 56px;

            .container4 {
              flex-shrink: 0;
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      .sidebarWidgets {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 32px;
        row-gap: 32px;

        .nowPlayingWidget {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border: 1px solid #ffffff33;
          border-radius: 40px;
          background: #ffffffe5;
          height: 114px;
          backdrop-filter: blur(10px);

          .nowPlayingWidgetShad {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: space-between;
            margin-right: -2px;
            border-radius: 40px;
            box-shadow: 0px 20px 40px -10px #1e1b1e14;
            background: #ffffff01;
            padding: 25px;
            width: 342px;
            min-width: 342px;
            height: 114px;

            .background {
              display: flex;
              align-items: center;
              border-radius: 24px;
              background-image: linear-gradient(
                45deg,
                #745185 0%,
                #a9b1f1 100%
              );

              .overlayShadow {
                display: flex;
                flex-grow: 1;
                align-items: center;
                border-radius: 24px;
                box-shadow: 0px 10px 15px -3px #a9b1f14d,
                  0px 4px 6px -4px #a9b1f14d;
                background: #ffffff01;
                padding: 21px 25px;

                .container5 {
                  width: 15px;
                  height: 23px;
                }
              }
            }

            .container6 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              .lofiStudyBeats {
                flex-shrink: 0;
                align-self: stretch;
                overflow: hidden;
                line-height: 24px;
                letter-spacing: 0;
                color: #1e1b1e;
                font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 700;
              }

              .aestheticFocusRadio {
                flex-shrink: 0;
                align-self: stretch;
                line-height: 16px;
                letter-spacing: 0;
                color: #4c444d;
                font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
              }
            }

            .button4 {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 9999px;
              background: #e8e0e5;
              width: 48px;
              height: 48px;

              .container7 {
                flex-shrink: 0;
                width: 11px;
                height: 14px;
              }
            }
          }
        }

        .todaySPlan {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border: 1px solid #ffffff33;
          border-radius: 40px;
          background: #ffffff66;
          height: 390px;
          backdrop-filter: blur(10px);

          .todaySPlanShadow {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            margin-right: -2px;
            border-radius: 40px;
            box-shadow: 0px 20px 40px -10px #1e1b1e14;
            background: #ffffff01;
            padding: 33px;

            .container8 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              min-width: 276px;

              .text7 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 121px;
                height: 28px;
                line-height: 28px;
                letter-spacing: 0;
                color: #1e1b1e;
                font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700;
              }

              .backgroundShadow {
                display: inline-flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                border-radius: 9999px;
                box-shadow: 0px 1px 2px 0px #0000000d;
                background: #f6d9ff;
                padding: 6px 12px;

                .text8 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  width: 47px;
                  height: 15px;
                  line-height: 15px;
                  letter-spacing: 1px;
                  color: #2c0c3d;
                  font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 10px;
                  font-weight: 700;
                }
              }
            }

            .container11 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 24px;
              row-gap: 12px;

              .border {
                border: 2px solid #d1a8e380;
                border-radius: 9999px;
                width: 24px;
                height: 24px;
              }

              .taskItem1 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                border-radius: 24px;
                background: #ffffffcc;

                .taskItem1Shadow {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  justify-content: space-between;
                  border-radius: 24px;
                  box-shadow: 0px 20px 40px -10px #1e1b1e14;
                  background: #ffffff01;
                  padding: 16px 28px 16px 16px;
                  width: 276px;
                  min-width: 276px;
                  height: 56px;

                  .text9 {
                    display: flex;
                    align-items: center;
                    width: 192px;
                    height: 20px;
                    line-height: 20px;
                    letter-spacing: 0;
                    color: #1e1b1e;
                    font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                  }
                }
              }

              .taskItem2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                border-radius: 24px;
                background: #ffffffcc;

                .taskItem2Shadow {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  justify-content: space-between;
                  border-radius: 24px;
                  box-shadow: 0px 20px 40px -10px #1e1b1e14;
                  background: #ffffff01;
                  padding: 16px 89px 16px 16px;
                  width: 276px;
                  min-width: 276px;
                  height: 56px;

                  .background2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 9999px;
                    background: #745185;
                    width: 24px;
                    height: 24px;

                    .container9 {
                      flex-shrink: 0;
                      width: 10px;
                      height: 7px;
                    }
                  }

                  .container10 {
                    display: inline-flex;
                    flex-direction: column;
                    align-items: flex-start;
                    opacity: 0.5;

                    .text10 {
                      display: flex;
                      flex-shrink: 0;
                      align-items: center;
                      width: 131px;
                      height: 20px;
                      line-height: 20px;
                      letter-spacing: 0;
                      color: #4c444d;
                      font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      font-weight: 600;
                      text-decoration: line-through;
                    }
                  }
                }
              }

              .taskItem3 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                border-radius: 24px;
                background: #ffffffcc;

                .taskItem3Shadow {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  justify-content: space-between;
                  border-radius: 24px;
                  box-shadow: 0px 20px 40px -10px #1e1b1e14;
                  background: #ffffff01;
                  padding: 16px 108px 16px 16px;
                  width: 276px;
                  min-width: 276px;
                  height: 56px;

                  .text11 {
                    display: flex;
                    align-items: center;
                    width: 112px;
                    height: 20px;
                    line-height: 20px;
                    letter-spacing: 0;
                    color: #1e1b1e;
                    font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                  }
                }
              }
            }

            .button5 {
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 8px;
              margin-top: 24px;
              border: 2px solid #7451854d;
              border-radius: 9999px;
              padding-top: 14px;
              padding-bottom: 14px;
              width: 276px;

              .container12 {
                flex-shrink: 0;
                width: 11px;
                height: 11px;
              }

              .text12 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 20px;
                line-height: 20px;
                letter-spacing: 0;
                color: #745185;
                font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
